<div class="row content">
	<div class="span8 offset2">
		<h1>Quanto Tempo Para. 0.1</h1>


<% if @dias >=1 %>
<h4>Faltam: <%= @dias +1 %> dias para o/a <%= @data %>!</h4>
<% else %>
<h4>É Amanhã!!!!!!</h4>
<% end %>		


	</div>
</div>